$gray: #b3b3b3;
$black: #000;
$black_2: #1e1e1e;
$slightly_black: #b3b3b3;
$white: #fff;
$orange: #ff5733;
$lg_font: 48px;
$md_font: 30px;
$sm_font: 16px;
$sub_heading: 15px;
$bg_color: #d9d9d9;

$font_family_1: "Nunito", sans-serif;
$font_family_2: "Oswald", sans-serif; ;
